body {
	background-image: radial-gradient(#f5f5f5 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #1a1a1a;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

h1 {
	color:black;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

#mainDiv {
	background-color: #f5f5f5;
	border-radius: 5px;
	max-width: 50%;
	margin:auto;
	padding: 50px;
}

button {
	border:1px solid black;
	cursor: pointer;
	background-color: whitesmoke;
	font-size: larger;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 5px;
	padding: 10px;
}

.social {
	max-height: 50px;
	text-decoration: none;
}

table{
	width: 100%;
}

td{
	max-width: 33.3%;
}

.gameImages{
	max-width: 100%;
	display: block;
}

.pressKitLogoImages{
	max-height: 100%;
}

#pressKitDiv{
	background-color: whitesmoke;
	width: 100%;
}

.column1{
	background-color: whitesmoke;
	float: left;
	width: 30%;
}

.column2{
	background-color: whitesmoke;
	float: right;
	width: 70%;
}