body {
	background-color:#1a1a1a;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

h1 {
	color:black;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

div {
	max-width: 50%;
	margin:auto;
	padding: 50px;
}

#mainDiv {
	background-color: whitesmoke;
	border-radius: 5px;
}

button {
	border:1px solid black;
	cursor: pointer;
	background-color: whitesmoke;
	font-size: larger;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 5px;
	padding: 10px;
}

.social {
	max-width: 50px;
	text-decoration: none;
}