body {
	background-color:#1a1a1a;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

h1 {
	color:black;
	text-align: center;
}

h2 {
	color: black;
	text-align: center;
}

#mainDiv {
	background-color: whitesmoke;
	border-radius: 5px;
	max-width: 50%;
	margin:auto;
	padding: 50px;
}

button {
	border:1px solid black;
	cursor: pointer;
	background-color: whitesmoke;
	font-size: larger;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 5px;
	padding: 10px;
}

.social {
	max-height: 50px;
	text-decoration: none;
}

table{
	width: 100%;
	border: none;	
}

.gameImages{
	max-height: 100%;
	display: block;
}

.pressKitLogoImages{
	max-height: 100%;
}

#pressKitDiv{
	background-color: whitesmoke;
	width: 100%;
}

.column1{
	background-color: whitesmoke;
	float: left;
	width: 30%;
}

.column2{
	background-color: whitesmoke;
	float: right;
	width: 70%;
}