
---
---

$base-font-size:   18px !default;
$text-color:       #FFFFFF !default;
$background-color: #1a1a1a !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #FCF5E5 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
